*{
    margin: 0;
    padding: 0;
    font-family: arial;
    text-decoration: none;
}

#navbar{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#logo{
    color: white;
}

a{
    color: white;
}

#header{
    background-color: #1f2937;
}